@{
    ViewBag.Title = Resources.Index.PageTitle;
}

<div class="jumbotron">
    <h1>@Resources.Index.JumbotronTitle</h1>
    <p class="lead">@Resources.Index.JumbotronContent</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Resources.Index.InformationTitle</h2>
        <p>
            @Resources.Index.InformationContent
        </p>
        <p>@Html.ActionLink(Resources.Index.InformationRegisterLink, "Register", "Authentication")</p>
        <p>@Html.ActionLink(Resources.Index.InformationLoginLink, "Login", "Authentication")</p>
    </div>
</div>