@model RecruitmentSystem.Models.ViewModel.ApplicationView

@{
    ViewBag.Title = "RegisterApplication";
}

<h2>Register Application</h2>
<hr />

@using (Html.BeginForm("AddCompetence", "Applicant"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Competences, htmlAttributes: new { @class = "control-label col-lg-3" })
            @Html.DropDownListFor(model => model.SelectedCompetence, new SelectList(Model.Competences, "Value", "Text"),
                new { @class = "form-control col-lg-4", placeholder = "Choose a competence..." })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SelectedYearsOfExperience, htmlAttributes: new { @class = "control-label col-lg-3" })
            @Html.EditorFor(model => model.SelectedYearsOfExperience, new { htmlAttributes = new { @class = "form-control col-lg-4" } })
        </div>

        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-primary col-lg-offset-3" />
        </div>
    </div>
}

@using (Html.BeginForm("AddAvailability", "Applicant"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <div class="control-group">
                @Html.LabelFor(model => model.SelectedFromDate, htmlAttributes: new { @class = "control-label col-lg-3" })
                <div class="controls">
                    <div class="input-group col-lg-3">
                        @Html.TextBoxFor(model => model.SelectedFromDate,
                            new { @class = "datepicker form-control", id = "date-picker-from", placeholder = "Select date..." })
                        <label for="date-picker-from" class="input-group-addon btn">
                            <span class="glyphicon glyphicon-calendar" />
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="control-group">
                @Html.LabelFor(model => model.SelectedToDate, htmlAttributes: new { @class = "control-label col-lg-3" })
                <div class="controls">
                    <div class="input-group col-lg-3">
                        @Html.TextBoxFor(model => model.SelectedToDate,
                            new { @class = "datepicker form-control", id = "date-picker-to", placeholder = "Select date..." })
                        <label for="date-picker-to" class="input-group-addon btn">
                            <span class="glyphicon glyphicon-calendar" />
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-primary col-lg-offset-3" />
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SelectedCompetence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedYearsOfExperience)
        </th>
        <th></th>
    </tr>

    @foreach (KeyValuePair<RecruitmentSystem.Models.Competence, decimal> entry in Model.SelectedCompetences)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => entry.Key.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => entry.Value)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete")
            </td>
        </tr>
    }
</table>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SelectedFromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedToDate)
        </th>
        <th></th>
    </tr>

    @foreach (KeyValuePair<DateTime, DateTime> entry in Model.SelectedAvailabilities)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => entry.Key)
            </td>
            <td>
                @Html.DisplayFor(modelItem => entry.Value)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete")
            </td>
        </tr>
    }
</table>

@using (Html.BeginForm("Apply", "Applicant"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <input type="submit" value="Apply" class="btn btn-primary col-lg-offset-3" />
        </div>
    </div>
}